/* this is styled like the old website layout but "broken"*/

body 
{
    background: linear-gradient(0deg, rgba(18,0,0,1) 0%, rgba(55,0,0,1) 77%, rgba(255,0,0,1) 100%);
    color:white;
    text-align:left;
    margin: auto;
    width:500;
}


h1 
{
    text-align: center;
}

button 
{
    display: block;
    margin: auto;
    color:white;
    background-color: rgb(130, 0, 0);
    border: none;
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: medium; 
    text-align: center !important; 
    outline:auto;
    outline:rgb(255, 255, 255);
    cursor: pointer;
}

button:hover
{
    display: block;
    margin: auto;
    color:white;
    background-color: rgb(100, 0, 0);
    border: none;
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: medium; 
    text-align: center !important; 
    outline:auto;
    outline:rgb(255, 255, 255);
    cursor: pointer;
    animation: falling 100ms;
    animation-fill-mode: forwards;
    
}

@keyframes falling {
    from {rotate: 0deg;}
    to {rotate: 9deg;}
  }



video 
{
    display: block;
    margin: auto;
}

br 
{
    user-select: none;
}