body {
    background-color: lightblue;
    font-size: x-large;
    font-family: monospace;
}

h1 {
    text-align: center;
    font-size: 40px;
}

div {
    margin: auto;
    text-align: left;
    width: fit-content;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}